body {
  background-color: #2c2c2c;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 102px;
  padding-left: 102px;
  background-color: black;
}

nav h1 {
  margin-right: auto;
  color: rgb(255, 124, 43);
}

nav a {
  text-decoration: none;
  color: rgb(165, 165, 255);
  margin-left: 3vh;
}

main {
  padding: 20px;
}

a {
  color: rgb(165, 165, 255);
  text-decoration: none;
}