
#footer {
    position: relative;
    width: 100vw;
    height: 70vh;
    background: -o-linear-gradient(320deg, #29443bcc 40%, #074d66cc), url('assets/iconlong.png');
    background: linear-gradient(130deg, #29443bcc 40%, #074d66cc), url('assets/iconlong.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(100% 70% at 50% 80%);
    -webkit-animation: rev-goo 3s infinite ease-in-out;
    animation: rev-goo 3s infinite ease-in-out;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  @keyframes rev-goo {
    50% {
      clip-path: ellipse(100% 70% at 50% calc(80% - 10px));
    }
  }

  #footer-icon {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #DCDDE177;
    font-size: 2rem;
    -webkit-animation: icon-shm 3s infinite ease-in-out;
    animation: icon-shm 3s infinite ease-in-out;
  }

  #footer-brand {
    position: absolute;
    top: 60%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: left;
    color: var(--background-color);
  }

  #footer-brand-title {
    font-family: var(--heading-font);
    font-size: max(4vw, 30px);
    font-weight: 700;
  }

  #footer-about {
    position: absolute;
    top: 60%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: right;
    color: var(--background-color);
  }

  #footer-about-title {
    font-family: var(--heading-font);
    font-weight: 700;
  }

  #footer-about-desc {
    font-size: 0.8rem;
    color: #dcdde1aa;
  }

  #footer-links {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 30px;
    padding-right: 50px;
    color: var(--background-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
  }

  #links-info {
    color: #dcdde155;
  }

  #footer-other {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #34533b;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
